@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

.header-section{
    background-color: #1F2937;
    color: white;
}

.header-container-one{
    display: flex;
    justify-content: space-between;
}

#logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color:#3882F6 ;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
}

.header-container-two{
    display: flex;
    justify-content: space-between;
}

#hero-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#header-image{
    width: 400px;
    height: 200px;
}