@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

.header-section{
    background-color: #1F2937;
    color: white;
}

.header-container-one{
    display: flex;
    justify-content: space-between;
}

#logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color:#3882F6 ;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
}

.header-container-two{
    display: flex;
    justify-content: space-between;
}

#hero-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#header-image{
    width: 400px;
    height: 200px;
}

.info-heading{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    
    
}

.items-container{
    width: 200px;
    text-align: center;
}

.info-images{
    width: 200px;
    height: 200px;
    border: #3882F6;
    border-style: solid;
    border-radius: 12px;
}

.info-text{
    font-size: 18px;
     color: #595a5b;
}

.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#quote-text{
    width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
   text-align: left;
    font-weight: 200 ;
}
#quote-by{
    font-size: 20px;
    color: #1F2937;
    font-weight: bold;
}